
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test</title>

    <link href="static/configuration.css" rel="stylesheet" media="all" />


    <script type="text/javascript" src="../assets2/js/jquery.js"></script>


</head>
<!-- Body -->
<body>

<h1 style="color: #000;">Configuration</h1>

<div class="container w3layouts agileits">

    <div class="login w3layouts agileits">
        <h2>Configuration</h2>

        <div class="clear"></div>
    </div>


    <div class="register w3layouts agileits">
        <h2>Configuration</h2>
        <form action="#" method="post">
            <input type="text" Name="Name" placeholder="Project Name" required="">
            <input type="text" Name="Email" placeholder="Git Repository" required="">
            <input type="password" Name="Password" placeholder="K8S URL" required="">
            <input type="text" Name="Phone Number" placeholder="Template Path" required="">
        </form>
        <div class="send-button w3layouts agileits">
            <form>
                <input type="submit" value="Confirm">
            </form>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>

</div>


</body>

</html>
