@CHARSET "UTF-8";

.card .front {
    z-index: 100;
    background: #fff;
}

.card .back {
    z-index: 100;
    background: #fff;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.card .cover {
    z-index: 99;
    background: black;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}



.card .front, .card .back, .card .cover {
float: none;
position: absolute;
width: inherit;
height: inherit;
padding: 1px;


-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.1);
box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.1);
    
-webkit-transition-duration: 1s, 1s;
-moz-transition-duration: 1s, 1s;
-ms-transition-duration: 1s, 1s;
-o-transition-duration: 1s, 1s;
transition-duration: 1s, 1s;
}


.card.unlog .front {
    z-index: 98;
    background: #fff;
}

.card.unlog .back {
    z-index: 97;
    background: #fff;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.card.unlog .cover {
    z-index: 99;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}


/* flip */

.card.flip .front {
    z-index: 100;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); 
}

.card.flip .back {
    z-index: 101;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.card.flip .cover {
    z-index: 99;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*
#flapBtn{
    background-color: #47C6F8;
    -webkit-transition-duration: 0.4s; !* Safari *!
    transition-duration: 0.4s;
}
#flapBtn:hover{
    background-color: #4CAF50; !* Green *!
    color: white;
}
*/

.blue{
    background-color: #47C6F8;
    transition: background-color 500ms;
}
.green{
    background-color: #66BB6A;
    transition: background-color 500ms;

}


