
ul{
  margin: 0 ;
  padding: 0 ;
}

#navbar {
  max-width: 1000px;
  margin: 0 auto;
}

.menubtn {
 
  position: relative; 
  z-index: 101;
  color: #274a61;
  text-decoration: none;
  font-size: 0em;
  line-height: 0em;
  top: 2px;
  padding: 15px;
  background-image: url('../images/hamburger.png');
  background-position: 50% 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.menubtn:hover, .openmenu .menubtn {
  color: #bdd43e;
  background-image: url('../images/hamburger-active.png');
}

/** toggle menu **/
body.openmenu {
  position: fixed;
  overflow: hidden;
}

#pgcontainer {
  padding: 45px 0;
  margin: 0;
}

.overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  right: 0;
  left: 0;
}

.openmenu .overlay {
  top: 0;
}


#hamburgermenu {
  height: 100%;
  width: 0;
  background: #373737;
  position: fixed;
  top: 0;
  left: 0;
  padding-top:150px;
  z-index: 101;
  overflow: hidden;
  -webkit-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  -moz-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  box-shadow: 3px 0 7px rgba(0,0,0,0.55);
    transition-property:padding;
    transition-duration: 1s;
}
#hamburgermenu ul {
  z-index: 101;
  overflow-y: auto;
  overflow-x: hidden;
}
#hamburgermenu ul li {
  display: block;
}
#hamburgermenu ul li a {
  display: block;
  min-width: 130px;
  padding: 15px 6px;
  color: #cdcdcd;
  font-size: 1.20em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#hamburgermenu li a:hover {
  color: #fff;
  background: #2c2c2c;
}

#hamburgermenu ul li span{
	display: block;
	font-size: 1.20em;
	font-weight: bold;
	color: #cdcdcd;
	cursor:pointer;
	text-align:center;
}
#hamburgermenu ul li span:hover {
	  color: #fff;
	  background: #2c2c2c;
}


	ul {
    	list-style: none;
    }


    i.icon-chevron-up {
        float: right;
    }
    .iconRotate {
        transform: rotate(180deg);
        transition: transform .5s;
    }
    .s-firstNav > i.icon-chevron-up {
        margin-right: 5px;
        margin-top: 10px;
    }    
    .s-firstDrop > li {
        line-height: 33px;
    }
    .s-firstDrop,
    .s-secondDrop {
        display: none;
    }        
    .s-secondNav > i.icon-chevron-up {
        margin-right: 18px;
        margin-top: 12px;
    }



@font-face {
    font-family: 'ecoicon';
    src:url('../fonts/ecoicons/ecoicon.eot');
    src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ecoicons/ecoicon.woff') format('woff'),
    url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
    url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.roundA{
    color: #ccc;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}


.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}


.hi-icon-earth:before {
    content: "\e002";
}

.hi-icon-archive:before {
    content: "\e00f";
}
.hi-icon-dev:before {
    content: "\e00a";
}

.no-touch a:hover,
.no-touch a:active {
    color: #333;
}
.hi-icon {
    margin: 5px !important;
}


.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 5px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}


/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
    box-shadow: 0 0 0 2px rgba(255,255,255,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.hi-icon-effect-5 .hi-icon:after {
    display: none;
}

.hi-icon-effect-5 .hi-icon:hover {
    background: rgba(255,255,255,1);
    color: #47C6F8;
    box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.hi-icon-effect-5a .hi-icon:hover:before {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
